# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Loading the Data

In [2]:
df=pd.read_csv('YourCabs.csv')
df

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,01-01-2013 02:00,0,0,01-01-2013 01:39,12.924150,77.672290,12.927320,77.635750,0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,01-01-2013 09:00,0,0,01-01-2013 02:25,12.966910,77.749350,12.927680,77.626640,0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,01-01-2013 03:30,0,0,01-01-2013 03:08,12.937222,77.626915,13.047926,77.597766,0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,01-01-2013 05:45,0,0,01-01-2013 04:39,12.989990,77.553320,12.971430,77.639140,0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,01-01-2013 09:00,0,0,01-01-2013 07:53,12.845653,77.677925,12.954340,77.600720,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43426,185937,14364,12,NaN,2,1147.0,452.0,15.0,NaN,11/24/2013 18:00,1,0,11/24/2013 14:25,13.030640,77.649100,12.952780,77.590880,0
43427,185938,48727,12,NaN,2,393.0,466.0,15.0,NaN,11/26/2013 1:00,1,0,11/24/2013 14:30,13.199560,77.706880,13.017436,77.644580,0
43428,185939,48729,12,1.0,3,974.0,NaN,15.0,NaN,11/24/2013 18:30,0,0,11/24/2013 14:35,13.075570,77.559040,NaN,NaN,0
43429,185940,30724,87,NaN,2,1263.0,542.0,15.0,NaN,11/24/2013 16:00,0,0,11/24/2013 14:43,12.968970,77.594560,12.938230,77.622890,0
43430,185941,48730,12,NaN,2,689.0,393.0,15.0,NaN,11/25/2013 5:00,0,1,11/24/2013 14:50,12.976720,77.649270,13.199560,77.706880,0

# Verifying the Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43431 entries, 0 to 43430
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   43431 non-null  int64
 1   user_id              43431 non-null  int64
 2   vehicle_model_id     43431 non-null  int64
 3   package_id           7550 non-null   float64
 4   travel_type_id       43431 non-null  int64
 5   from_area_id         43343 non-null  float64
 6   to_area_id           34293 non-null  float64
 7   from_city_id         16345 non-null  float64
 8   to_city_id           1588 non-null   float64
 9   from_date            43431 non-null  object
 10  online_booking       43431 non-null  int64
 11  mobile_site_booking  43431 non-null  int64
 12  booking_created      43431 non-null  object
 13  from_lat             43338 non-null  float64
 14  from_long            43338 non-null  float64
 15  to_lat               34293 non-null  float64
 16  to_long              34293 non-null  float64
 17  Car_Cancellation     43431 non-null  int64
dtypes: float64(9), int64(7), object(2)
memory usage: 6.0+ MB

In [4]:
df.shape

(43431, 18)

# Backup dataset

In [5]:
backup=df.copy()

# Creating three different Dataset based on travel_type_id values

In [6]:
dataset_1=df[df['travel_type_id']==1]

In [7]:
dataset_1.reset_index(drop=True)

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132519,22172,12,NaN,1,571.0,NaN,15.0,108.0,01-01-2013 09:45,0,0,01-01-2013 09:21,12.951850,77.696420,NaN,NaN,0
1,132531,22189,24,NaN,1,1383.0,NaN,NaN,32.0,01-12-2013 08:00,1,0,01-01-2013 12:17,12.930451,77.685822,NaN,NaN,0
2,132539,22192,54,NaN,1,515.0,NaN,15.0,32.0,01-05-2013 08:30,0,0,01-01-2013 14:40,12.978960,77.673450,NaN,NaN,0
3,132697,22275,28,NaN,1,136.0,NaN,1.0,152.0,01-04-2013 09:30,1,0,01-03-2013 12:19,12.907960,77.624180,NaN,NaN,0
4,132760,22310,87,NaN,1,1118.0,NaN,NaN,32.0,01-06-2013 07:30,1,0,01-04-2013 09:32,12.930220,77.560390,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,185843,48667,12,NaN,1,393.0,NaN,15.0,191.0,11/23/2013 22:00,1,0,11/23/2013 17:54,13.199560,77.706880,NaN,NaN,0
1585,185889,48697,87,NaN,1,119.0,NaN,15.0,146.0,11/29/2013 14:00,1,0,11/23/2013 23:24,13.047580,77.591840,NaN,NaN,0
1586,185891,48699,12,NaN,1,1281.0,NaN,15.0,32.0,11/24/2013 7:30,1,0,11/23/2013 23:44,12.934634,77.611283,NaN,NaN,0
1587,185899,48704,12,NaN,1,393.0,NaN,15.0,116.0,11/24/2013 10:30,0,0,11/24/2013 7:14,13.199560,77.706880,NaN,NaN,0
1588,185916,48714,87,NaN,1,1180.0,NaN,15.0,62.0,12/24/2013 15:00,0,0,11/24/2013 11:34,12.900840,77.564830,NaN,NaN,0

In [8]:
dataset_2=df[df['travel_type_id']==2]
dataset_2.reset_index(drop=True)

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,01-01-2013 02:00,0,0,01-01-2013 01:39,12.924150,77.672290,12.927320,77.635750,0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,01-01-2013 09:00,0,0,01-01-2013 02:25,12.966910,77.749350,12.927680,77.626640,0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,01-01-2013 03:30,0,0,01-01-2013 03:08,12.937222,77.626915,13.047926,77.597766,0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,01-01-2013 05:45,0,0,01-01-2013 04:39,12.989990,77.553320,12.971430,77.639140,0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,01-01-2013 09:00,0,0,01-01-2013 07:53,12.845653,77.677925,12.954340,77.600720,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34287,185936,30220,12,NaN,2,585.0,1226.0,15.0,NaN,11/25/2013 0:00,0,1,11/24/2013 14:24,12.976770,77.572700,13.015080,77.677960,0
34288,185937,14364,12,NaN,2,1147.0,452.0,15.0,NaN,11/24/2013 18:00,1,0,11/24/2013 14:25,13.030640,77.649100,12.952780,77.590880,0
34289,185938,48727,12,NaN,2,393.0,466.0,15.0,NaN,11/26/2013 1:00,1,0,11/24/2013 14:30,13.199560,77.706880,13.017436,77.644580,0
34290,185940,30724,87,NaN,2,1263.0,542.0,15.0,NaN,11/24/2013 16:00,0,0,11/24/2013 14:43,12.968970,77.594560,12.938230,77.622890,0
34291,185941,48730,12,NaN,2,689.0,393.0,15.0,NaN,11/25/2013 5:00,0,1,11/24/2013 14:50,12.976720,77.649270,13.199560,77.706880,0

In [9]:
dataset_3=df[df['travel_type_id']==3]

In [10]:
dataset_3.reset_index(drop=True)

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132521,22182,65,2.0,3,448.0,NaN,NaN,NaN,01-01-2013 16:00,0,0,01-01-2013 09:44,12.927320,77.635750,NaN,NaN,0
1,132535,22190,87,2.0,3,471.0,NaN,NaN,NaN,01-01-2013 14:30,0,0,01-01-2013 12:52,13.018540,77.635240,NaN,NaN,0
2,132538,21995,12,1.0,3,1286.0,NaN,NaN,NaN,01-01-2013 16:30,0,0,01-01-2013 14:39,12.973448,77.620320,NaN,NaN,0
3,132552,22201,12,1.0,3,1323.0,NaN,NaN,NaN,01-01-2013 20:00,1,0,01-01-2013 17:25,12.869805,77.653211,NaN,NaN,0
4,132569,15846,12,2.0,3,142.0,NaN,NaN,NaN,01-02-2013 03:00,0,0,01-01-2013 19:37,12.912810,77.609230,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7545,185924,48719,12,1.0,3,768.0,NaN,15.0,NaN,11/24/2013 16:00,0,1,11/24/2013 12:32,12.989990,77.553320,NaN,NaN,0
7546,185927,41939,12,4.0,3,1390.0,NaN,15.0,NaN,11/24/2013 15:00,0,0,11/24/2013 13:06,12.969368,77.641302,NaN,NaN,0
7547,185930,36265,65,2.0,3,1237.0,NaN,15.0,NaN,11/25/2013 1:00,1,0,11/24/2013 13:54,12.926450,77.612060,NaN,NaN,0
7548,185935,48726,12,2.0,3,515.0,NaN,15.0,NaN,11/24/2013 15:15,0,0,11/24/2013 14:23,12.978960,77.673450,NaN,NaN,0
7549,185939,48729,12,1.0,3,974.0,NaN,15.0,NaN,11/24/2013 18:30,0,0,11/24/2013 14:35,13.075570,77.559040,NaN,NaN,0

# Dataset_3

In [11]:
dataset_3

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
8,132521,22182,65,2.0,3,448.0,NaN,NaN,NaN,01-01-2013 16:00,0,0,01-01-2013 09:44,12.927320,77.635750,NaN,NaN,0
20,132535,22190,87,2.0,3,471.0,NaN,NaN,NaN,01-01-2013 14:30,0,0,01-01-2013 12:52,13.018540,77.635240,NaN,NaN,0
23,132538,21995,12,1.0,3,1286.0,NaN,NaN,NaN,01-01-2013 16:30,0,0,01-01-2013 14:39,12.973448,77.620320,NaN,NaN,0
34,132552,22201,12,1.0,3,1323.0,NaN,NaN,NaN,01-01-2013 20:00,1,0,01-01-2013 17:25,12.869805,77.653211,NaN,NaN,0
47,132569,15846,12,2.0,3,142.0,NaN,NaN,NaN,01-02-2013 03:00,0,0,01-01-2013 19:37,12.912810,77.609230,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43415,185924,48719,12,1.0,3,768.0,NaN,15.0,NaN,11/24/2013 16:00,0,1,11/24/2013 12:32,12.989990,77.553320,NaN,NaN,0
43417,185927,41939,12,4.0,3,1390.0,NaN,15.0,NaN,11/24/2013 15:00,0,0,11/24/2013 13:06,12.969368,77.641302,NaN,NaN,0
43420,185930,36265,65,2.0,3,1237.0,NaN,15.0,NaN,11/25/2013 1:00,1,0,11/24/2013 13:54,12.926450,77.612060,NaN,NaN,0
43424,185935,48726,12,2.0,3,515.0,NaN,15.0,NaN,11/24/2013 15:15,0,0,11/24/2013 14:23,12.978960,77.673450,NaN,NaN,0
43428,185939,48729,12,1.0,3,974.0,NaN,15.0,NaN,11/24/2013 18:30,0,0,11/24/2013 14:35,13.075570,77.559040,NaN,NaN,0

In [12]:
pd.options.mode.copy_on_write = True

In [13]:
ctd=['id','user_id','vehicle_model_id','to_area_id','from_city_id','to_city_id','from_lat','from_long','to_lat','to_long']

In [14]:
dataset_3.drop(columns=ctd,inplace=True)

In [15]:
dataset_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7550 entries, 8 to 43428
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   package_id           7550 non-null   float64
 1   travel_type_id       7550 non-null   int64
 2   from_area_id         7550 non-null   float64
 3   from_date            7550 non-null   object
 4   online_booking       7550 non-null   int64
 5   mobile_site_booking  7550 non-null   int64
 6   booking_created      7550 non-null   object
 7   Car_Cancellation     7550 non-null   int64
dtypes: float64(2), int64(4), object(2)
memory usage: 530.9+ KB

# Adding 10dummy variables from from_date and booking_created

In [16]:
dataset_3['from_date'].unique()

array(['01-01-2013 16:00', '01-01-2013 14:30', '01-01-2013 16:30', ...,
       '11/25/2013 1:00', '11/24/2013 15:15', '11/24/2013 18:30'],
      dtype=object)

In [17]:
dataset_3['date']=dataset_3['from_date'].str.extract(r'(\b\d{2})')

In [18]:
dataset_3['date']=dataset_3['date'].astype(int)

In [19]:
dataset_3['month'] = dataset_3['from_date'].str.split(r'[-/]').str[1]

In [20]:
dataset_3['month']=dataset_3['month'].astype(int)

In [21]:
dataset_3['year'] = dataset_3['from_date'].str.extract(r'(\d{4})')

In [22]:
dataset_3['year'].isna().sum()

0

In [23]:
dataset_3['from_date'].unique()

array(['01-01-2013 16:00', '01-01-2013 14:30', '01-01-2013 16:30', ...,
       '11/25/2013 1:00', '11/24/2013 15:15', '11/24/2013 18:30'],
      dtype=object)

In [24]:
dataset_3['year']=dataset_3['year'].astype(int)

In [25]:
dataset_3['hour'] = dataset_3['from_date'].str.split().str[-1].str.split(':').str[0]

In [26]:
dataset_3['hour']=dataset_3['hour'].astype(int)

In [27]:
dataset_3['minute'] = dataset_3['from_date'].str.split().str[-1].str.split(':').str[1]

In [28]:
dataset_3['minute']=dataset_3['minute'].astype(int)

In [29]:
dataset_3

,package_id,travel_type_id,from_area_id,from_date,online_booking,mobile_site_booking,booking_created,Car_Cancellation,date,month,year,hour,minute
8,2.0,3,448.0,01-01-2013 16:00,0,0,01-01-2013 09:44,0,1,1,2013,16,0
20,2.0,3,471.0,01-01-2013 14:30,0,0,01-01-2013 12:52,0,1,1,2013,14,30
23,1.0,3,1286.0,01-01-2013 16:30,0,0,01-01-2013 14:39,0,1,1,2013,16,30
34,1.0,3,1323.0,01-01-2013 20:00,1,0,01-01-2013 17:25,0,1,1,2013,20,0
47,2.0,3,142.0,01-02-2013 03:00,0,0,01-01-2013 19:37,0,1,2,2013,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43415,1.0,3,768.0,11/24/2013 16:00,0,1,11/24/2013 12:32,0,11,24,2013,16,0
43417,4.0,3,1390.0,11/24/2013 15:00,0,0,11/24/2013 13:06,0,11,24,2013,15,0
43420,2.0,3,1237.0,11/25/2013 1:00,1,0,11/24/2013 13:54,0,11,25,2013,1,0
43424,2.0,3,515.0,11/24/2013 15:15,0,0,11/24/2013 14:23,0,11,24,2013,15,15
43428,1.0,3,974.0,11/24/2013 18:30,0,0,11/24/2013 14:35,0,11,24,2013,18,30

In [30]:
dataset_3['bc_d']=dataset_3['booking_created'].str.extract(r'(\b\d{2})')

In [31]:
dataset_3['booking_created'].unique()

array(['01-01-2013 09:44', '01-01-2013 12:52', '01-01-2013 14:39', ...,
       '11/24/2013 13:54', '11/24/2013 14:23', '11/24/2013 14:35'],
      dtype=object)

In [32]:
dataset_3['bc_d']=dataset_3['bc_d'].astype(int)

In [33]:
dataset_3['bc_m'] = dataset_3['booking_created'].str.split(r'[-/]').str[1]

In [34]:
dataset_3['bc_m']=dataset_3['bc_m'].astype(int)

In [35]:
dataset_3['bc_y'] = dataset_3['booking_created'].str.extract(r'(\d{4})')

In [36]:
dataset_3['bc_y']=dataset_3['bc_y'].astype(int)

In [37]:
dataset_3['bc_h'] = dataset_3['booking_created'].str.split().str[-1].str.split(':').str[0]

In [38]:
dataset_3['bc_h']=dataset_3['bc_h'].astype(int)

In [39]:
dataset_3['bc_min'] = dataset_3['booking_created'].str.split().str[-1].str.split(':').str[1]

In [40]:
dataset_3['bc_min']=dataset_3['bc_min'].astype(int)

In [41]:
dataset_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7550 entries, 8 to 43428
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   package_id           7550 non-null   float64
 1   travel_type_id       7550 non-null   int64
 2   from_area_id         7550 non-null   float64
 3   from_date            7550 non-null   object
 4   online_booking       7550 non-null   int64
 5   mobile_site_booking  7550 non-null   int64
 6   booking_created      7550 non-null   object
 7   Car_Cancellation     7550 non-null   int64
 8   date                 7550 non-null   int32
 9   month                7550 non-null   int32
 10  year                 7550 non-null   int32
 11  hour                 7550 non-null   int32
 12  minute               7550 non-null   int32
 13  bc_d                 7550 non-null   int32
 14  bc_m                 7550 non-null   int32
 15  bc_y                 7550 non-null   int32
 16  bc_h                 7550 non-null   int32
 17  bc_min               7550 non-null   int32
dtypes: float64(2), int32(10), int64(4), object(2)
memory usage: 825.8+ KB

In [199]:
dataset_3

,package_id,travel_type_id,from_area_id,from_date,online_booking,mobile_site_booking,booking_created,Car_Cancellation,date,month,year,hour,minute,bc_d,bc_m,bc_y,bc_h,bc_min
8,2.0,3,448.0,01-01-2013 16:00,0,0,01-01-2013 09:44,0,1,1,2013,16,0,1,1,2013,9,44
20,2.0,3,471.0,01-01-2013 14:30,0,0,01-01-2013 12:52,0,1,1,2013,14,30,1,1,2013,12,52
23,1.0,3,1286.0,01-01-2013 16:30,0,0,01-01-2013 14:39,0,1,1,2013,16,30,1,1,2013,14,39
34,1.0,3,1323.0,01-01-2013 20:00,1,0,01-01-2013 17:25,0,1,1,2013,20,0,1,1,2013,17,25
47,2.0,3,142.0,01-02-2013 03:00,0,0,01-01-2013 19:37,0,1,2,2013,3,0,1,1,2013,19,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43415,1.0,3,768.0,11/24/2013 16:00,0,1,11/24/2013 12:32,0,11,24,2013,16,0,11,24,2013,12,32
43417,4.0,3,1390.0,11/24/2013 15:00,0,0,11/24/2013 13:06,0,11,24,2013,15,0,11,24,2013,13,6
43420,2.0,3,1237.0,11/25/2013 1:00,1,0,11/24/2013 13:54,0,11,25,2013,1,0,11,24,2013,13,54
43424,2.0,3,515.0,11/24/2013 15:15,0,0,11/24/2013 14:23,0,11,24,2013,15,15,11,24,2013,14,23
43428,1.0,3,974.0,11/24/2013 18:30,0,0,11/24/2013 14:35,0,11,24,2013,18,30,11,24,2013,14,35

# Model (RandomForest Model is best model among all other models)

In [200]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [201]:
X = dataset_3.drop(['from_date', 'booking_created', 'Car_Cancellation'], axis=1)
y = dataset_3['Car_Cancellation']

In [202]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# LogisticRegression Model

In [203]:
model = LogisticRegression(max_iter=1000)

In [215]:
model.fit(X_train_scaled,y_train)

LogisticRegression(max_iter=1000)

In [216]:
y_pred = model.predict(X_test_scaled)

In [207]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9490066225165563

In [217]:
print("Classification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1433
           1       0.00      0.00      0.00        77

    accuracy                           0.95      1510
   macro avg       0.47      0.50      0.49      1510
weighted avg       0.90      0.95      0.92      1510

C:\ProgramData\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Data Scaling

In [209]:
from sklearn.preprocessing import MinMaxScaler


scaler = MinMaxScaler()


X_train_scaled = scaler.fit_transform(X_train)


X_test_scaled = scaler.transform(X_test)

# RandomForest Model

In [210]:
from sklearn.ensemble import RandomForestClassifier

In [211]:
rf=RandomForestClassifier()

In [212]:
rf.fit(X_train_scaled,y_train)

RandomForestClassifier()

In [213]:
y_predd=rf.predict(X_test_scaled)

In [214]:
print("Classification Report:")
print(classification_report(y_test, y_predd))

Classification Report:
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1433
           1       1.00      0.14      0.25        77

    accuracy                           0.96      1510
   macro avg       0.98      0.57      0.61      1510
weighted avg       0.96      0.96      0.94      1510

# Dataset_2

In [52]:
dataset_2

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,01-01-2013 02:00,0,0,01-01-2013 01:39,12.924150,77.672290,12.927320,77.635750,0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,01-01-2013 09:00,0,0,01-01-2013 02:25,12.966910,77.749350,12.927680,77.626640,0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,01-01-2013 03:30,0,0,01-01-2013 03:08,12.937222,77.626915,13.047926,77.597766,0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,01-01-2013 05:45,0,0,01-01-2013 04:39,12.989990,77.553320,12.971430,77.639140,0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,01-01-2013 09:00,0,0,01-01-2013 07:53,12.845653,77.677925,12.954340,77.600720,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43425,185936,30220,12,NaN,2,585.0,1226.0,15.0,NaN,11/25/2013 0:00,0,1,11/24/2013 14:24,12.976770,77.572700,13.015080,77.677960,0
43426,185937,14364,12,NaN,2,1147.0,452.0,15.0,NaN,11/24/2013 18:00,1,0,11/24/2013 14:25,13.030640,77.649100,12.952780,77.590880,0
43427,185938,48727,12,NaN,2,393.0,466.0,15.0,NaN,11/26/2013 1:00,1,0,11/24/2013 14:30,13.199560,77.706880,13.017436,77.644580,0
43429,185940,30724,87,NaN,2,1263.0,542.0,15.0,NaN,11/24/2013 16:00,0,0,11/24/2013 14:43,12.968970,77.594560,12.938230,77.622890,0
43430,185941,48730,12,NaN,2,689.0,393.0,15.0,NaN,11/25/2013 5:00,0,1,11/24/2013 14:50,12.976720,77.649270,13.199560,77.706880,0

In [53]:
dataset_2.drop(columns=['id','user_id','vehicle_model_id','package_id','from_city_id','to_city_id'],inplace=True)

In [54]:
dataset_2

,travel_type_id,from_area_id,to_area_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,2,83.0,448.0,01-01-2013 02:00,0,0,01-01-2013 01:39,12.924150,77.672290,12.927320,77.635750,0
1,2,1010.0,540.0,01-01-2013 09:00,0,0,01-01-2013 02:25,12.966910,77.749350,12.927680,77.626640,0
2,2,1301.0,1034.0,01-01-2013 03:30,0,0,01-01-2013 03:08,12.937222,77.626915,13.047926,77.597766,0
3,2,768.0,398.0,01-01-2013 05:45,0,0,01-01-2013 04:39,12.989990,77.553320,12.971430,77.639140,0
4,2,1365.0,849.0,01-01-2013 09:00,0,0,01-01-2013 07:53,12.845653,77.677925,12.954340,77.600720,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43425,2,585.0,1226.0,11/25/2013 0:00,0,1,11/24/2013 14:24,12.976770,77.572700,13.015080,77.677960,0
43426,2,1147.0,452.0,11/24/2013 18:00,1,0,11/24/2013 14:25,13.030640,77.649100,12.952780,77.590880,0
43427,2,393.0,466.0,11/26/2013 1:00,1,0,11/24/2013 14:30,13.199560,77.706880,13.017436,77.644580,0
43429,2,1263.0,542.0,11/24/2013 16:00,0,0,11/24/2013 14:43,12.968970,77.594560,12.938230,77.622890,0
43430,2,689.0,393.0,11/25/2013 5:00,0,1,11/24/2013 14:50,12.976720,77.649270,13.199560,77.706880,0

# Adding distance dummy variable from from_lat,from_long,to_lat,to_long

In [55]:
def haversine(lat1, lon1, lat2, lon2):
     
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    # Haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    r = 6371  # Radius 
    return c * r

# Calculate distances and add a new column to the dataset
dataset_2['distance'] = haversine(dataset_2['from_lat'], dataset_2['from_long'],
                                dataset_2['to_lat'], dataset_2['to_long'])

In [56]:
dataset_2

,travel_type_id,from_area_id,to_area_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation,distance
0,2,83.0,448.0,01-01-2013 02:00,0,0,01-01-2013 01:39,12.924150,77.672290,12.927320,77.635750,0,3.975764
1,2,1010.0,540.0,01-01-2013 09:00,0,0,01-01-2013 02:25,12.966910,77.749350,12.927680,77.626640,0,13.995033
2,2,1301.0,1034.0,01-01-2013 03:30,0,0,01-01-2013 03:08,12.937222,77.626915,13.047926,77.597766,0,12.708414
3,2,768.0,398.0,01-01-2013 05:45,0,0,01-01-2013 04:39,12.989990,77.553320,12.971430,77.639140,0,9.525153
4,2,1365.0,849.0,01-01-2013 09:00,0,0,01-01-2013 07:53,12.845653,77.677925,12.954340,77.600720,0,14.699782
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43425,2,585.0,1226.0,11/25/2013 0:00,0,1,11/24/2013 14:24,12.976770,77.572700,13.015080,77.677960,0,12.174196
43426,2,1147.0,452.0,11/24/2013 18:00,1,0,11/24/2013 14:25,13.030640,77.649100,12.952780,77.590880,0,10.711968
43427,2,393.0,466.0,11/26/2013 1:00,1,0,11/24/2013 14:30,13.199560,77.706880,13.017436,77.644580,0,21.345603
43429,2,1263.0,542.0,11/24/2013 16:00,0,0,11/24/2013 14:43,12.968970,77.594560,12.938230,77.622890,0,4.594393
43430,2,689.0,393.0,11/25/2013 5:00,0,1,11/24/2013 14:50,12.976720,77.649270,13.199560,77.706880,0,25.552193

In [57]:
dataset_2['a_date']=dataset_2['from_date'].str.extract(r'(\b\d{2})')

In [58]:
dataset_2['a_date']=dataset_2['a_date'].astype(int)

In [59]:
dataset_2['a_month'] = dataset_2['from_date'].str.split(r'[-/]').str[1]

In [60]:
dataset_2['a_month']=dataset_2['a_month'].astype(int)

In [61]:
dataset_2['a_year'] = dataset_2['from_date'].str.extract(r'(\d{4})')

In [62]:
dataset_2['a_year']=dataset_2['a_year'].astype(int)

In [63]:
dataset_2['a_hour'] = dataset_2['from_date'].str.split().str[-1].str.split(':').str[0]

In [64]:
dataset_2['a_hour']=dataset_2['a_hour'].astype(int)

In [65]:
dataset_2['a_minute'] = dataset_2['from_date'].str.split().str[-1].str.split(':').str[1]

In [66]:
dataset_2['a_minute']=dataset_2['a_minute'].astype(int)

In [67]:
dataset_2['bc_d']=dataset_2['booking_created'].str.extract(r'(\b\d{2})')

In [68]:
dataset_2['bc_d']=dataset_2['bc_d'].astype(int)

In [69]:
dataset_2['bc_m'] = dataset_2['booking_created'].str.split(r'[-/]').str[1]

In [70]:
dataset_2['bc_m']=dataset_2['bc_m'].astype(int)

In [71]:
dataset_2['bc_y'] = dataset_2['booking_created'].str.extract(r'(\d{4})')

In [72]:
dataset_2['bc_y']=dataset_2['bc_y'].astype(int)

In [73]:
dataset_2['bc_h'] = dataset_2['booking_created'].str.split().str[-1].str.split(':').str[0]

In [74]:
dataset_2['bc_h']=dataset_2['bc_h'].astype(int)

In [75]:
dataset_2['bc_min'] = dataset_2['booking_created'].str.split().str[-1].str.split(':').str[1]

In [76]:
dataset_2['bc_min']=dataset_2['bc_min'].astype(int)

In [77]:
dataset_2.drop(columns=['from_date','booking_created','from_lat','from_long','to_lat','to_long'],inplace=True)

In [78]:
dataset_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34292 entries, 0 to 43430
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   travel_type_id       34292 non-null  int64
 1   from_area_id         34292 non-null  float64
 2   to_area_id           34292 non-null  float64
 3   online_booking       34292 non-null  int64
 4   mobile_site_booking  34292 non-null  int64
 5   Car_Cancellation     34292 non-null  int64
 6   distance             34292 non-null  float64
 7   a_date               34292 non-null  int32
 8   a_month              34292 non-null  int32
 9   a_year               34292 non-null  int32
 10  a_hour               34292 non-null  int32
 11  a_minute             34292 non-null  int32
 12  bc_d                 34292 non-null  int32
 13  bc_m                 34292 non-null  int32
 14  bc_y                 34292 non-null  int32
 15  bc_h                 34292 non-null  int32
 16  bc_min               34292 non-null  int32
dtypes: float64(3), int32(10), int64(4)
memory usage: 3.4 MB

In [79]:
dataset_2.head()

,travel_type_id,from_area_id,to_area_id,online_booking,mobile_site_booking,Car_Cancellation,distance,a_date,a_month,a_year,a_hour,a_minute,bc_d,bc_m,bc_y,bc_h,bc_min
0,2,83.0,448.0,0,0,0,3.975764,1,1,2013,2,0,1,1,2013,1,39
1,2,1010.0,540.0,0,0,0,13.995033,1,1,2013,9,0,1,1,2013,2,25
2,2,1301.0,1034.0,0,0,0,12.708414,1,1,2013,3,30,1,1,2013,3,8
3,2,768.0,398.0,0,0,0,9.525153,1,1,2013,5,45,1,1,2013,4,39
4,2,1365.0,849.0,0,0,0,14.699782,1,1,2013,9,0,1,1,2013,7,53

# Model(RandomForest Model is best model among all other models)

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticrRegression
from sklearn.metrics import accuracy_score , classification_report

In [81]:
X=dataset_2.drop(['Car_Cancellation'],axis=1)
y=dataset_2['Car_Cancellation']

In [109]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

# Scaling the Features

In [123]:
from sklearn.preprocessing import MinMaxScaler


scaler = MinMaxScaler()


X_train_scaled = scaler.fit_transform(X_train)


X_test_scaled = scaler.transform(X_test)

# LogisticRegression Model

In [125]:
model1=LogisticRegression()

In [126]:
model1.fit(X_train_scaled,y_train)

LogisticRegression()

In [130]:
y_pred=model1.predict(X_test_scaled)

In [131]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [132]:
acc=accuracy_score(y_test,y_pred)
acc

0.9222918792826943

In [133]:
print("Classification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.92      1.00      0.96      6325
           1       0.53      0.02      0.04       534

    accuracy                           0.92      6859
   macro avg       0.72      0.51      0.50      6859
weighted avg       0.89      0.92      0.89      6859

# DecisionTree model

In [134]:
from sklearn.tree import DecisionTreeClassifier

In [135]:
model2=DecisionTreeClassifier()

In [136]:
model2.fit(X_train_scaled,y_train)

DecisionTreeClassifier()

In [137]:
y_pred1=model2.predict(X_test_scaled)

In [138]:
y_pred1

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [139]:
acc=accuracy_score(y_test,y_pred1)

In [140]:
acc

0.8896340574427759

In [141]:
print("Classification Report:")
print(classification_report(y_test, y_pred1))

Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.93      0.94      6325
           1       0.32      0.38      0.35       534

    accuracy                           0.89      6859
   macro avg       0.64      0.66      0.64      6859
weighted avg       0.90      0.89      0.89      6859

# RandomForest Model

In [142]:
from sklearn.ensemble import RandomForestClassifier

In [143]:
rf=RandomForestClassifier()

In [144]:
rf.fit(X_train_scaled,y_train)

RandomForestClassifier()

In [145]:
y_pred2=rf.predict(X_test_scaled)

In [147]:
acc=accuracy_score(y_test,y_pred2)
acc

0.9323516547601691

In [148]:
print("Classification Report:")
print(classification_report(y_test, y_pred2))

Classification Report:
              precision    recall  f1-score   support

           0       0.94      0.99      0.96      6325
           1       0.74      0.20      0.32       534

    accuracy                           0.93      6859
   macro avg       0.84      0.60      0.64      6859
weighted avg       0.92      0.93      0.91      6859

# KNN Model

In [149]:
from sklearn.neighbors import KNeighborsClassifier

In [174]:
k=1
knn=KNeighborsClassifier(n_neighbors=k)

In [175]:
knn.fit(X_train_scaled,y_train)

KNeighborsClassifier(n_neighbors=1)

In [176]:
y_pred3=knn.predict(X_test_scaled)

In [177]:
print("Classification Report:")
print(classification_report(y_test, y_pred3))

Classification Report:
              precision    recall  f1-score   support

           0       0.94      0.94      0.94      6325
           1       0.28      0.29      0.28       534

    accuracy                           0.89      6859
   macro avg       0.61      0.61      0.61      6859
weighted avg       0.89      0.89      0.89      6859

# Naive bayes Model

In [178]:
from sklearn.naive_bayes import GaussianNB

In [179]:
nb=GaussianNB()

In [180]:
nb.fit(X_train_scaled,y_train)

GaussianNB()

In [182]:
y_pred4=nb.predict(X_test_scaled)

In [183]:
print("Classification Report:")
print(classification_report(y_test, y_pred4))

Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.05      0.09      6325
           1       0.08      0.99      0.15       534

    accuracy                           0.12      6859
   macro avg       0.53      0.52      0.12      6859
weighted avg       0.91      0.12      0.09      6859

# AdaBoost Model

In [184]:
from sklearn.ensemble import AdaBoostClassifier

In [185]:
ada=AdaBoostClassifier()

In [186]:
ada.fit(X_train_scaled,y_train)

AdaBoostClassifier()

In [187]:
y_pred5=ada.predict(X_test_scaled)

In [188]:
print("Classification Report:")
print(classification_report(y_test, y_pred5))

Classification Report:
              precision    recall  f1-score   support

           0       0.93      0.99      0.96      6325
           1       0.45      0.08      0.14       534

    accuracy                           0.92      6859
   macro avg       0.69      0.54      0.55      6859
weighted avg       0.89      0.92      0.89      6859

# GradientBoosting Model

In [189]:
from sklearn.ensemble import GradientBoostingClassifier

In [190]:
gbm = GradientBoostingClassifier()

In [191]:
gbm.fit(X_train_scaled,y_train)

GradientBoostingClassifier()

In [192]:
y_pred6=gbm.predict(X_test_scaled)

In [193]:
print("Classification Report:")
print(classification_report(y_test, y_pred6))

Classification Report:
              precision    recall  f1-score   support

           0       0.93      0.99      0.96      6325
           1       0.70      0.17      0.27       534

    accuracy                           0.93      6859
   macro avg       0.82      0.58      0.62      6859
weighted avg       0.92      0.93      0.91      6859

# Ensemble Learning Model

In [194]:
from sklearn.ensemble import RandomForestClassifier

In [195]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

In [196]:
rf_classifier.fit(X_train_scaled,y_train)

RandomForestClassifier(random_state=42)

In [197]:
y_pred7=rf_classifier.predict(X_test_scaled)

In [198]:
print("Classification Report:")
print(classification_report(y_test, y_pred7))

Classification Report:
              precision    recall  f1-score   support

           0       0.94      0.99      0.96      6325
           1       0.76      0.20      0.32       534

    accuracy                           0.93      6859
   macro avg       0.85      0.60      0.64      6859
weighted avg       0.92      0.93      0.91      6859

# Dataset_1

In [84]:
dataset_1

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
6,132519,22172,12,NaN,1,571.0,NaN,15.0,108.0,01-01-2013 09:45,0,0,01-01-2013 09:21,12.951850,77.696420,NaN,NaN,0
17,132531,22189,24,NaN,1,1383.0,NaN,NaN,32.0,01-12-2013 08:00,1,0,01-01-2013 12:17,12.930451,77.685822,NaN,NaN,0
24,132539,22192,54,NaN,1,515.0,NaN,15.0,32.0,01-05-2013 08:30,0,0,01-01-2013 14:40,12.978960,77.673450,NaN,NaN,0
158,132697,22275,28,NaN,1,136.0,NaN,1.0,152.0,01-04-2013 09:30,1,0,01-03-2013 12:19,12.907960,77.624180,NaN,NaN,0
216,132760,22310,87,NaN,1,1118.0,NaN,NaN,32.0,01-06-2013 07:30,1,0,01-04-2013 09:32,12.930220,77.560390,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43342,185843,48667,12,NaN,1,393.0,NaN,15.0,191.0,11/23/2013 22:00,1,0,11/23/2013 17:54,13.199560,77.706880,NaN,NaN,0
43385,185889,48697,87,NaN,1,119.0,NaN,15.0,146.0,11/29/2013 14:00,1,0,11/23/2013 23:24,13.047580,77.591840,NaN,NaN,0
43386,185891,48699,12,NaN,1,1281.0,NaN,15.0,32.0,11/24/2013 7:30,1,0,11/23/2013 23:44,12.934634,77.611283,NaN,NaN,0
43393,185899,48704,12,NaN,1,393.0,NaN,15.0,116.0,11/24/2013 10:30,0,0,11/24/2013 7:14,13.199560,77.706880,NaN,NaN,0
43407,185916,48714,87,NaN,1,1180.0,NaN,15.0,62.0,12/24/2013 15:00,0,0,11/24/2013 11:34,12.900840,77.564830,NaN,NaN,0

In [85]:
dataset_1.drop(columns=['id','user_id','vehicle_model_id','package_id','to_area_id','from_lat','from_long','to_lat','to_long'],inplace=True)

In [86]:
dataset_1

,travel_type_id,from_area_id,from_city_id,to_city_id,from_date,online_booking,mobile_site_booking,booking_created,Car_Cancellation
6,1,571.0,15.0,108.0,01-01-2013 09:45,0,0,01-01-2013 09:21,0
17,1,1383.0,NaN,32.0,01-12-2013 08:00,1,0,01-01-2013 12:17,0
24,1,515.0,15.0,32.0,01-05-2013 08:30,0,0,01-01-2013 14:40,0
158,1,136.0,1.0,152.0,01-04-2013 09:30,1,0,01-03-2013 12:19,0
216,1,1118.0,NaN,32.0,01-06-2013 07:30,1,0,01-04-2013 09:32,0
...,...,...,...,...,...,...,...,...,...
43342,1,393.0,15.0,191.0,11/23/2013 22:00,1,0,11/23/2013 17:54,0
43385,1,119.0,15.0,146.0,11/29/2013 14:00,1,0,11/23/2013 23:24,0
43386,1,1281.0,15.0,32.0,11/24/2013 7:30,1,0,11/23/2013 23:44,0
43393,1,393.0,15.0,116.0,11/24/2013 10:30,0,0,11/24/2013 7:14,0
43407,1,1180.0,15.0,62.0,12/24/2013 15:00,0,0,11/24/2013 11:34,0

In [87]:
dataset_1['a_date']=dataset_1['from_date'].str.extract(r'(\b\d{2})')

In [88]:
dataset_1['a_date']=dataset_1['a_date'].astype(int)

In [89]:
dataset_1['a_month'] = dataset_1['from_date'].str.split(r'[-/]').str[1]

In [90]:
dataset_1['a_month']=dataset_1['a_month'].astype(int)

In [91]:
dataset_1['a_year'] = dataset_1['from_date'].str.extract(r'(\d{4})')

In [92]:
dataset_1['a_year']=dataset_1['a_year'].astype(int)

In [93]:
dataset_1['a_hour'] = dataset_1['from_date'].str.split().str[-1].str.split(':').str[0]

In [94]:
dataset_1['a_hour']=dataset_1['a_hour'].astype(int)

In [95]:
dataset_1['a_minute'] = dataset_1['from_date'].str.split().str[-1].str.split(':').str[1]

In [96]:
dataset_1['a_minute']=dataset_1['a_minute'].astype(int)

In [97]:
dataset_1['bc_d']=dataset_1['booking_created'].str.extract(r'(\b\d{2})')

In [98]:
dataset_1['bc_d']=dataset_1['bc_d'].astype(int)

In [99]:
dataset_1['bc_m'] = dataset_1['booking_created'].str.split(r'[-/]').str[1]

In [100]:
dataset_1['bc_m']=dataset_1['bc_m'].astype(int)

In [101]:
dataset_1['bc_y'] = dataset_1['booking_created'].str.extract(r'(\d{4})')

In [102]:
dataset_1['bc_y']=dataset_1['bc_y'].astype(int)

In [103]:
dataset_1['bc_h'] = dataset_1['booking_created'].str.split().str[-1].str.split(':').str[0]

In [104]:
dataset_1['bc_h']=dataset_1['bc_h'].astype(int)

In [105]:
dataset_1['bc_min'] = dataset_1['booking_created'].str.split().str[-1].str.split(':').str[1]

In [106]:
dataset_1['bc_min']=dataset_1['bc_min'].astype(int)

In [107]:
dataset_1.drop(columns=['from_date','booking_created'],inplace=True)

In [226]:

dataset_1.dropna(subset=['from_area_id'], inplace=True)

In [234]:
dataset_1.drop(columns=['from_city_id'],inplace=True)

In [235]:
dataset_1.drop(columns=['to_city_id'],inplace=True)

In [236]:
dataset_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1501 entries, 6 to 43407
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   travel_type_id       1501 non-null   int64
 1   from_area_id         1501 non-null   float64
 2   online_booking       1501 non-null   int64
 3   mobile_site_booking  1501 non-null   int64
 4   Car_Cancellation     1501 non-null   int64
 5   a_date               1501 non-null   int32
 6   a_month              1501 non-null   int32
 7   a_year               1501 non-null   int32
 8   a_hour               1501 non-null   int32
 9   a_minute             1501 non-null   int32
 10  bc_d                 1501 non-null   int32
 11  bc_m                 1501 non-null   int32
 12  bc_y                 1501 non-null   int32
 13  bc_h                 1501 non-null   int32
 14  bc_min               1501 non-null   int32
dtypes: float64(1), int32(10), int64(4)
memory usage: 129.0 KB

# Model(RandomForest Model is best model among all other models)

In [237]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score , classification_report

In [238]:
X=dataset_1.drop(['Car_Cancellation'],axis=1)
y=dataset_1['Car_Cancellation']

In [239]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

# Scaling the Features

In [240]:
from sklearn.preprocessing import MinMaxScaler


scaler = MinMaxScaler()


X_train_scaled = scaler.fit_transform(X_train)


X_test_scaled = scaler.transform(X_test)

# RandomForest Model

In [241]:
from sklearn.ensemble import RandomForestClassifier

In [242]:
rf=RandomForestClassifier()

In [243]:
rf.fit(X_train_scaled,y_train)

RandomForestClassifier()

In [244]:
y_predd=rf.predict(X_test_scaled)

In [245]:
print("Classification Report:")
print(classification_report(y_test, y_predd))

Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00       298
           1       1.00      0.33      0.50         3

    accuracy                           0.99       301
   macro avg       1.00      0.67      0.75       301
weighted avg       0.99      0.99      0.99       301